@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

@import url(//fonts.googleapis.com/earlyaccess/notonaskharabicui.css);

@import url(//fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

@import url(//fonts.googleapis.com/earlyaccess/thabit.css);

@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);

@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@import url('https://fonts.googleapis.com/css?family=Cairo');

@import url('https://fonts.googleapis.com/css?family=Amiri');

@import url('https://fonts.googleapis.com/css?family=Changa');

@import url('https://fonts.googleapis.com/css?family=Lateef');

@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

@import url('https://fonts.googleapis.com/css?family=Lalezar');

@import url('https://fonts.googleapis.com/css?family=Scheherazade');

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');

@import url('https://fonts.googleapis.com/css?family=Lemonada');

@import url('https://fonts.googleapis.com/css?family=Mada');

@font-face {
    font-family: Elaaf;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Elaaf_Normal.otf);
}


/* === FONT FACES === */


df1 {
   font-family: 'Noto Naskh Arabic';
}

df2 {
   font-family: 'Noto Naskh Arabic UI';
}

df3 {
   font-family: 'Droid Arabic Naskh';
}

df4 {
   font-family: 'Thabit';
}

df5 {
   font-family: 'Noto Kufi Arabic';
}

df6 {
   font-family: 'Droid Arabic Kufi';
}
df7 {
   font-family: 'Cairo';
}

df8 {
   font-family: 'Amiri';
}

df9 {
   font-family: 'Changa';
}

df10 {
   font-family: 'Lateef';
}

df11 {
   font-family: 'Reem Kufi';
}

df12 {
   font-family: 'Lalezar';
}

df13 {
   font-family: 'Scheherazade';
}

df14 {
   font-family: 'Baloo Bhaijaan';
}

df15 {
   font-family: 'Lemonada';
}

df16 {
   font-family: 'Mada';
}

df17 {
   font-family: 'Lalezar';
}

df18 {
   font-family: 'Lalezar';
}

df19 {
   font-family: Elaaf;
}




/* ==== FONT NAMES === */



a:after{
content: "ހަމަކަށަވަރުން، މަރުވެފައިވާ މީހުން އަލުން ދިރުއްވަނީ ތިމަންއިލާހެވެ. އަދި އެބައިމީހުން އިސްކޮށްފައިވާ ޢަމަލުތަކާއި އެބައިމީހުން ފަހަށް ދޫކޮށްފައި ދިޔަ އަސަރުތައް ތިމަންއިލާހު ލިޔުއްވަމެވެ. އަދި ކޮންމެ ކަމެއްމެ ބަޔާންވެގެންވާ ފޮތެއްގައި ތިމަންއިލާހު ހިމެނުއްވީމެވެ.";
}


body {
   direction: rtl;
   text-align: justify;
   unicode-bidi: bidi-override;
   unicode-range: U+0780-07BF;
}

.b { font-weight: bold }
