/* === FONT FACES === */

@font-face {
    font-family: Dhivehi;
    src: url(https://hadithmv.github.io/fonts/dv/Dhivehi.ttf);
}

@import url(//fonts.googleapis.com/earlyaccess/notosansthaana.css);


/* === /FONT FACES === */

/*hides table headers*/
thead tr:nth-child(2) {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/*fit search boxes within columns*/
thead input { width: 100%; }

/*vertically aligns column text to top*/
table.dataTable tbody td { vertical-align: top; }

/*top and botton margin spacing between cells*/
.dataTable td { 
    margin: 15px 0;}



/* corrects display for these particular columns including print */
.dataTable tbody tr td:nth-child(1)  {
    text-align: center;
    font-weight: bold; }
.dataTable tbody tr td:nth-child(2)  {
    text-align: center; } 
.dataTable tbody tr td:nth-child(3)  {
    direction: rtl;
    unicode-bidi:bidi-override;
    text-align: justify; }
    
.dataTable tbody tr td:nth-child(4)  {
    direction: ltr;
    unicode-bidi:bidi-override;
    text-align: justify; }
.dataTable tbody tr td:nth-child(5)  {
    direction: rtl;
    unicode-bidi:bidi-override;
    text-align: justify;
    font-family: Dhivehi, Noto Sans Thaana; }
