
/*fit search boxes within columns*/
tfoot input { width: 100%; }

/*appends footer to header*/
tfoot { display: table-header-group; }

/*vertically aligns column text to top*/
table.dataTable tbody td { vertical-align: top; }

/*aligns and directs text in select columns*/
.dataTable tbody td.col_3 {
    text-align: justify; 
    direction: rtl; }
.dataTable tbody td.col_4 {
    text-align: justify; }
.dataTable tbody td.col_5 {
    text-align: justify;
    direction: rtl; }

/*top and botton margin spacing between cells*/
.dataTable td { 
    margin: 15px 0;}
