
/*fit search boxes within columns*/
tfoot input { width: 100%; }

/*appends footer to header*/
tfoot { display: table-header-group; }

*/vertically aligns column text to top*/
table.dataTable tbody td { vertical-align: top; }

/*aligns and directs text in select columns from left to right*/
.dataTable tbody td.col_3 {
    text-align: right; direction: rtl; }
.dataTable tbody td.col_5 {
    text-align: right; direction: rtl; }
