tfoot input {
  width: 100%;
}

tfoot {
    display: table-header-group;
}
table.dataTable tbody td {
  vertical-align: top;
}

.dataTable tbody td.col_3 {
    text-align: right;
    }

.dataTable tbody td.col_5 {
    text-align: right;
    }
