<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/news">News</a></li>
	        		<li><a href="/contribute">Contribute</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:testing@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hadithmv">github.com/hadithmv</a></li>
				</ul>
			</footer>
		</body>
	</html>
