<!DOCTYPE html>
<html>
    <head>
        <title>Hadithmv</title>
        <link rel="icon" hre<link rel="icon" href="img/1500713626876.png">
            <link rel="stylesheet" type="text/css" href="css/main2.css">
    </head>
    <body>
        <!-- header start -->
        <div id="header" class="section">
            <img alt="" class="img-circle" src="img/1500713626876.png">
        </div>
        <!-- header end -->
        <!-- About Me section start -->
        <div class="section">
            <h1><span>About</span></h1>
            <p>Hi there, welcome to <strong>Hadithmv</strong>. <hr/> The accessibility to Hadith via web has changed the muslim world. Atleast for most english speaking audiences. Sadly, maldivians have no such web resource in their native language <i>'Dhivehi'</i>. If you want to help change this situation for the better, join us in this rewarding journey to make dhivehi translations of hadith available to all by the will of Allah.
            </p>
            <p class="quote">"Indeed, it is We who bring the dead to life and record what they have put forth and what they left behind" -Yaseen 12</p>
        </div>
        <!-- About Me section end -->
        
        <!-- My Schedule section start -->
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTBxxDAJ5DlT-jhQqc2QpWx53yzDPq_PNvvFUSp3irdWJzuGAz645A1nGInxbuzaWZ4LZKrkakL-Uti/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" height= 800 width= 90% frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <hr/>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe79Mmq2yFKwSw0_Sn5JP8H_M5hrHHwWuJQ8ki-GmaOEEHCnA/viewform?embedded=true" width=90% height= 800 frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
        <!-- My Schedule section end -->
        
        <!-- Progress section start -->
        <div class="section">
            <h1><span>Progress</span></h1>
            <ul>
                <li>Nawawi <br />
                    <progress min="0" max="42" value="6"></progress>
                </li>
                <li>Bukhari <br />
                    <progress min="0" max="7563" value="0"></progress>
                </li>
                <li>Muslim <br />
                    <progress min="0" max="3033" value="0"></progress>
                </li>
            </ul>
        </div>
        <!-- Progress section end -->
      
      <!-- Media section start -->
        <div class="section">
            <h1><span>Media</span></h1>
           <iframe height="420" width=90% src="https://www.youtube.com/embed/STmzDuVroQI" allowfullscreen frameborder="0"></iframe>
        </div>
        <!-- Media section end -->
        
        <!-- Form section start -->
<!-- Form section end -->
    
        <!-- Contacts section start -->

        <!-- Contacts section end -->
        
        <div class="copyright">
            2017 Hadithmv
        </div>
        
    </body>
</html>
