<!DOCTYPE html>
<html>

<head>
    <!-- prevents google translating your page -->
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />

    <!-- makes responsive for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>40 Nawawi - beta</title>

    <!-- === CSS LIBRARIES === -->
    <!-- DATATABLES CSS 1.10.19 -Originally 1.10.3 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <!-- CSS extensions -->
    <!--Datatable Buttons Css 1.5.6
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
     -->
    <!--Semantic UI table only component 2.4.2 - NO JS -->
    <link rel="stylesheet" type="text/css"
        href="https://raw.githack.com/Semantic-Org/Semantic-UI/master/dist/components/table.min.css" />
    <!--Datatables - Semantic UI Integration - NO JS NEEDED -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" />
    <!-- === CSS LIBRARIES - END === -->



    <!-- === JS LIBRARIES  - Move these to the beginning of body for production === -->
    <!-- JQUERY 3.4.1   - Needed for Datatables, and Bootstrap if present. Originally 2.2.1 
    must remain at the top and not at the bottom -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- DATATABLES JS 1.10.19  - DT Core. Originally 1.10.3 -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- JS extensions -->
    <!-- DT Buttons
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
     -->
    <!-- DT Column Hide Show
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
     -->
    <!-- DT Html5 Export
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
     -->
    <!-- DT Excel Export - jszip 3.2.0 - Originally 2.5.0 - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
             -->
    <!-- DT Pdf Export - pdfmake 0.1.57 - Originally 0.1.36  - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/vfs_fonts.js"></script>
             -->
    <!-- DT Mark Js - Css file content included with the header Css
             Keep at 8.11.1 - Upgrading to 9 breaks highlight 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.mark.js@2.0.1/dist/datatables.mark.min.js"></script>
-->
    <!-- DT Keytable
    <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
-->
    <!-- DT Keep Conditions
    <script
        src="https://raw.githack.com/jhyland87/DataTables-Keep-Conditions/master/dist/dataTables.keepConditions.min.js"></script>
    -->
    <!-- Hammerjs
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    -->

    <!-- Material CSS - You can also request individual packages’ JS and CSS,
        e.g.: https://unpkg.com/@material/textfield@latest/dist/mdc.textfield.min.css-->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Material JS -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




    <!-- 'http://www.convertcsv.com/csv-to-json.htm', convert spreashsheet CSV to JSON Array.-->
    <script src="https://hadithmv.com/alt/json/40nJson.js"></script>









    <style>
        /* define the theme color variables before importing any MDC Web components: */
        :root {
            /* https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme#css-custom-properties */
            --mdc-theme-primary: #0277bd;
            /* The theme primary color */
            --mdc-theme-secondary: #58a5f0;
            /* The theme secondary color */
        }

        /*  Changes active drawer list item text color */
        .mdc-list-item.mdc-list-item--activated {
            color: #004c8c;
        }

        /*  Changes active drawer list item icon color */
        .mdc-list-item.mdc-list-item--activated>.material-icons.mdc-list-item__graphic {
            color: #004c8c;
        }

        /*  ==== MDC Dismissible Drawer Below Top App Bar === */
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-drawer-app-content {
            flex: auto;
            overflow: auto;
            position: relative;
        }

        .main-content {
            overflow: auto;
            height: 100%;
        }

        .app-bar {
            position: absolute;
        }



        /*  ==== END MDC Dismissible Drawer Below Top App Bar === */

        /* Removes 8px margin around site */
        body {
            margin: 0;
        }

        /*  hyperlinks */
        a,
        a:link,
        a:visited {
            color: grey;
            text-decoration: none;
        }


        /*  ====  Drawer Logo and links === */
        a:hover,
        a:active {
            opacity: 0.7;
        }

        /* hmv drawer logo */
        .hmvDrawerLogo {
            width: 100%;
        }

        .hmvButton {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .mdc-drawer__header {
            text-align: center;
            margin-bottom: 10px;
        }

        /*  ==== END Drawer Logo and links === */
    </style>


</head>




<!-- Material Design’s text sizes and styles were developed to balance content density and reading comfort under typical usage conditions. -->
<!-- notranslate class in body prevents google translating the page -->

<body class="notranslate mdc-typography">



    <!-- === MDC Top App Bar === -->
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z3" id="app-bar">
        <!-- changed 'app-bar'  to 'mdc-top-app-bar--fixed'
The mdc-top-app-bar--fixed-adjust helper class will adjust the position with top app bar. 
    'mdc-elevation--z3' will elevate shadow.-->
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#"
                    class="demo-menu material-icons mdc-top-app-bar__navigation-icon mdc-ripple-surface">menu</a>
                <!-- PROB??? mdc-ripple-surface -->
                <span class="mdc-top-app-bar__title">hadithmv</span>
            </section>
        </div>
    </header>


    <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust mdc-drawer--modal">
        <!-- 'mdc-drawer--modal' makes it a modal-->

        <div class="mdc-drawer__content">
            <div class="mdc-list">

                <div class="mdc-drawer__header">
                    <!-- mdc-drawer__header -->
                    <button class="mdc-button hmvButton" data-mdc-auto-init="MDCRipple">
                        <img class="hmvDrawerLogo imgGrow"
                            src="https://hadithmv.com/img/newLogo5/android-material-icon-generator/icon.svg"
                            alt="hmv drawer logo">
                    </button>

                    <h3 class="mdc-drawer__title">Hadithmv</h3>
                    <h6 class="mdc-drawer__subtitle">v1.3.0</h6>
                    <h6 class="mdc-drawer__subtitle"><a href="https://goo.gl/forms/O0SLwVntIGRdhVGv2" target="_blank"
                            rel="noopener">hadithmv@gmail.com</a></h6>
                </div> <!-- END mdc-drawer__header -->

                <hr class="mdc-list-divider">
                <h6 class="mdc-list-group__subheader">Hadith</h6>






                <!-- === 'tablinks' class for custom tabs
    'onclick="openCity(event, 'London')"' for activation === 
' id="defaultOpen"' for custom tabs to start with this -->
                <a class="mdc-list-item mdc-list-item--activated tablinks" href="#" aria-current="page"
                    data-mdc-auto-init="MDCRipple" onclick="openTab(event, '40nTab')"  id="defaultOpen">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                    <span class="mdc-list-item__text">40 Nawawi</span>
                </a>

                <a class="mdc-list-item tablinks" href="#" data-mdc-auto-init="MDCRipple"
                    onclick="openTab(event, 'bukhTab')">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                    <span class="mdc-list-item__text">Bukhari (beta)</span>
                </a>

                <hr class="mdc-list-divider">
                <h6 class="mdc-list-group__subheader">Misc</h6>

                <a class="mdc-list-item tablinks" href="#" data-mdc-auto-init="MDCRipple"
                    onclick="openTab(event, 'abouTab')">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">About</span>
                </a>

            </div>
        </div>
    </aside>
    <!-- === END MDC Top App Bar === -->


    <div class="mdc-drawer-scrim"></div>
    <!--  For Modal Drawer, The mdc-drawer-scrim next sibling element is required, to protect the app’s UI from interactions while the modal drawer is open. -->


    <!-- === MDC Drawer Content === -->
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main class="main-content" id="main-content">
            App Content



            <!-- custom tabs id="40nTab" class="tabcontent" -->
            <div id="40nTab" class="tabcontent">

                <!-- cellspacing="0" width="100%" -->
                <table id="fnTable" class="ui celled compact striped table fnClass">

                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

            </div> <!-- END id="40nTab" class="tabcontent" -->

            <!-- id="bukhTab" class="tabcontent" -->
            <div id="bukhTab" class="tabcontent">
                <h3>beta</h3>
                <p>In Development</p>
            </div> <!-- END id="bukhTab" class="tabcontent" -->

            <!-- id="abouTab" class="tabcontent" -->
            <div id="abouTab" class="tabcontent">
            </div> <!-- END id="abouTab" class="tabcontent" -->

        </div> <!-- END id="abouTab" class="tabcontent" -->

        </main> <!-- === END 'main-content' === -->
    </div> <!-- === END MDC Drawer Content === -->





    <!--=== === ===INLINE JS=== === ===-->
    <script>



        $(document).ready(function () { //no need to add this again for another table

            var table = $("#fnTable").DataTable({ /* TABLECHANGE123 */
                data: FNdataSet,  //has to match javascript json

                //   data: data, previously without column titles TABLECHANGE123
                columns: [
                    { title: "#" },
                    { title: "Ar No." },
                    { title: "Ar Title" },
                    { title: "En Title" },
                    { title: "Dv Title" },
                    { title: "Arabic" },
                    { title: "Ar Plain" },
                    { title: "English" },
                    { title: "Dhivehi" },
                    { title: "Ar Ref." },
                    { title: "En Ref." },
                    { title: "Dv Ref." },
                    { title: "Rs Ref." },
                ],  //=== END OF 'columns: ['


            }); //===   END OF 'var table = $("#fnTable").DataTable({'

        }); //===   END OF '$(document).ready(function () {''
    </script>


    <script type="text/javascript">
        // material-components-web Auto Init
        //  write the necessary DOM needed for a component, and attach a data-mdc-auto-init attribute to the root element with its value set to the component’s JavaScript class name (e.g., MDCTextField). Then, after writing the markup, simply insert a script tag that calls mdc.autoInit(). Make sure you call mdc.autoInit() after all scripts are loaded so it works properly.
        window.mdc.autoInit();



        // Initiate Drawer
        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        // Initiate MDC Top App Bar
        const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
            drawer.open = !drawer.open;
        });


        // Switch content on tab activation -drawer 
        Array.from(document.querySelectorAll('.mdc-tab')).forEach(
            tab => tab.addEventListener('MDCTab:interacted', (e) => switchToTab(e.detail.tabId))
        );

        const switchToTab = (activatedTabId) => {
            Array.from(document.querySelectorAll('.tab-content')).forEach(tabContent => {
                tabContent.style.display = tabContent.id.slice(0, -1 * '-content'.length) == activatedTabId
                    .slice(0, -1 * '-tab'.length) ? 'block' : 'none';
            });
        }


        // Custom tabs - Get the element with id="defaultOpen" and click on it
        // first line makes sure DOM is ready before running the code, alternatively insert in body
        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("defaultOpen").click();
});
        // Custom tabs - https://www.w3schools.com/howto/howto_js_tabs.asp
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

            drawer.open = false; // addition - closes MDC drawer

            
        };










    </script>



</body>

</html>