<!DOCTYPE html>
<html>

<head>
    <title>40 Nawawi - beta</title>

    <!-- === CSS LIBRARIES === -->
    <!-- DATATABLES CSS 1.10.19 -Originally 1.10.3 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <!-- CSS extensions -->
    <!--Datatable Buttons Css 1.5.6
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
     -->
    <!--Semantic UI table only component 2.4.2 - NO JS -->
    <link rel="stylesheet" type="text/css"
        href="https://raw.githack.com/Semantic-Org/Semantic-UI/master/dist/components/table.min.css" />
    <!--Datatables - Semantic UI Integration - NO JS NEEDED -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" />
    <!-- === CSS LIBRARIES - END === -->



    <!-- === JS LIBRARIES  - Move these to the beginning of body for production === -->
    <!-- JQUERY 3.4.1   - Needed for Datatables, and Bootstrap if present. Originally 2.2.1 
    must remain at the top and not at the bottom -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- DATATABLES JS 1.10.19  - DT Core. Originally 1.10.3 -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- JS extensions -->
    <!-- DT Buttons
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
     -->
    <!-- DT Column Hide Show
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
     -->
    <!-- DT Html5 Export
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
     -->
    <!-- DT Excel Export - jszip 3.2.0 - Originally 2.5.0 - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
             -->
    <!-- DT Pdf Export - pdfmake 0.1.57 - Originally 0.1.36  - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/vfs_fonts.js"></script>
             -->
    <!-- DT Mark Js - Css file content included with the header Css
             Keep at 8.11.1 - Upgrading to 9 breaks highlight 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.mark.js@2.0.1/dist/datatables.mark.min.js"></script>
-->
    <!-- DT Keytable
    <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
-->
    <!-- DT Keep Conditions
    <script
        src="https://raw.githack.com/jhyland87/DataTables-Keep-Conditions/master/dist/dataTables.keepConditions.min.js"></script>
    -->
    <!-- Hammerjs
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    -->

    <!-- Material CSS - You can also request individual packages’ JS and CSS, e.g.: https://unpkg.com/@material/textfield@latest/dist/mdc.textfield.min.css 
            <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
-->
    <!-- Material JS 
            <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
-->



    <!-- 'http://www.convertcsv.com/csv-to-json.htm', convert CSV to JSON Array.-->
    <script src="https://hadithmv.com/alt/json/40nJson.js"></script>


</head>


<body class="notranslate">

    <table id="fnTable" class="ui celled compact striped table fnClass">
        <!--cellspacing="0" width="100%"-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>


    <!--=== === ===INLINE JS=== === ===-->
    <script>



        $(document).ready(function () { //no need to add this again for another table

            var table = $("#fnTable").DataTable({ /* TABLECHANGE123 */
                data: FNdataSet,  //has to match javascript json

                //   data: data, previously without column titles TABLECHANGE123
                columns: [
                    { title: "#" },
                    { title: "Ar No." },
                    { title: "Ar Title" },
                    { title: "En Title" },
                    { title: "Dv Title" },
                    { title: "Arabic" },
                    { title: "Ar Plain" },
                    { title: "English" },
                    { title: "Dhivehi" },
                    { title: "Ar Ref." },
                    { title: "En Ref." },
                    { title: "Dv Ref." },
                    { title: "Rs Ref." },
                ],  //=== END OF 'columns: ['


            }); //===   END OF 'var table = $("#fnTable").DataTable({'

        }); //===   END OF '$(document).ready(function () {''
    </script>






</body>

</html>