<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <!-- === prevents google translating your page === -->

    <title>40 Nawawi - beta</title>

    <!-- === CSS LIBRARIES === -->
    <!-- DATATABLES CSS 1.10.19 -Originally 1.10.3 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <!-- CSS extensions -->
    <!--Datatable Buttons Css 1.5.6
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
     -->
    <!--Semantic UI table only component 2.4.2 - NO JS -->
    <link rel="stylesheet" type="text/css"
        href="https://raw.githack.com/Semantic-Org/Semantic-UI/master/dist/components/table.min.css" />
    <!--Datatables - Semantic UI Integration - NO JS NEEDED -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" />
    <!-- === CSS LIBRARIES - END === -->



    <!-- === JS LIBRARIES  - Move these to the beginning of body for production === -->
    <!-- JQUERY 3.4.1   - Needed for Datatables, and Bootstrap if present. Originally 2.2.1 
    must remain at the top and not at the bottom -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- DATATABLES JS 1.10.19  - DT Core. Originally 1.10.3 -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- JS extensions -->
    <!-- DT Buttons
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
     -->
    <!-- DT Column Hide Show
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
     -->
    <!-- DT Html5 Export
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
     -->
    <!-- DT Excel Export - jszip 3.2.0 - Originally 2.5.0 - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>
             -->
    <!-- DT Pdf Export - pdfmake 0.1.57 - Originally 0.1.36  - gets bigger
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/vfs_fonts.js"></script>
             -->
    <!-- DT Mark Js - Css file content included with the header Css
             Keep at 8.11.1 - Upgrading to 9 breaks highlight 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables.mark.js@2.0.1/dist/datatables.mark.min.js"></script>
-->
    <!-- DT Keytable
    <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
-->
    <!-- DT Keep Conditions
    <script
        src="https://raw.githack.com/jhyland87/DataTables-Keep-Conditions/master/dist/dataTables.keepConditions.min.js"></script>
    -->
    <!-- Hammerjs
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    -->

    <!-- Material CSS - You can also request individual packages’ JS and CSS,
        e.g.: https://unpkg.com/@material/textfield@latest/dist/mdc.textfield.min.css-->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Material JS -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




    <!-- 'http://www.convertcsv.com/csv-to-json.htm', convert spreashsheet CSV to JSON Array.-->
    <script src="https://hadithmv.com/alt/json/40nJson.js"></script>









    <style>
        /* define the theme color variables before importing any MDC Web components: */
        :root {
            /* https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme#css-custom-properties */
            --mdc-theme-primary: #0277bd;
            /* The theme primary color */
            --mdc-theme-secondary: #58a5f0;
            /* The theme secondary color */
        }

        /* MDC Dismissible Drawer Below Top App Bar */
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-drawer-app-content {
            flex: auto;
            overflow: auto;
            position: relative;
        }

        .main-content {
            overflow: auto;
            height: 100%;
        }

        .app-bar {
            position: absolute;
        }

        /* only apply this style if below top app bar*/
        .mdc-top-app-bar {
            z-index: 7;
        }
    </style>


</head>




<!-- Material Design’s text sizes and styles were developed to balance content density and reading comfort under typical usage conditions. -->
<!-- notranslate class in body prevents google translating the page -->

<body class="notranslate mdc-typography">



    <!-- === MDC Top App Bar === -->
    <header class="mdc-top-app-bar app-bar" id="app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Dismissible Drawer</span>
            </section>
        </div>
    </header>
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
        <div class="mdc-drawer__content">
            <div class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                    <span class="mdc-list-item__text">Inbox</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                    <span class="mdc-list-item__text">Outgoing</span>
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">Drafts</span>
                </a>
            </div>
        </div>
    </aside>
    <!-- === END MDC Top App Bar === -->

    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main class="main-content" id="main-content">
            App Content
        </main>
    </div>





    <table id="fnTable" class="ui celled compact striped table fnClass">
        <!-- cellspacing="0" width="100%" -->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
        <input class="mdc-text-field__input" type="text" id="input">
        <label for="input" class="mdc-floating-label">Input Label</label>
        <div class="mdc-line-ripple"></div>
    </div>


    <!--=== === ===INLINE JS=== === ===-->
    <script>



        $(document).ready(function () { //no need to add this again for another table

            var table = $("#fnTable").DataTable({ /* TABLECHANGE123 */
                data: FNdataSet,  //has to match javascript json

                //   data: data, previously without column titles TABLECHANGE123
                columns: [
                    { title: "#" },
                    { title: "Ar No." },
                    { title: "Ar Title" },
                    { title: "En Title" },
                    { title: "Dv Title" },
                    { title: "Arabic" },
                    { title: "Ar Plain" },
                    { title: "English" },
                    { title: "Dhivehi" },
                    { title: "Ar Ref." },
                    { title: "En Ref." },
                    { title: "Dv Ref." },
                    { title: "Rs Ref." },
                ],  //=== END OF 'columns: ['


            }); //===   END OF 'var table = $("#fnTable").DataTable({'

        }); //===   END OF '$(document).ready(function () {''
    </script>


    <script type="text/javascript">
        // material-components-web Auto Init
        //  write the necessary DOM needed for a component, and attach a data-mdc-auto-init attribute to the root element with its value set to the component’s JavaScript class name (e.g., MDCTextField). Then, after writing the markup, simply insert a script tag that calls mdc.autoInit(). Make sure you call mdc.autoInit() after all scripts are loaded so it works properly.
        window.mdc.autoInit();


        // Initiate MDC Top App Bar (required)

        // Instantiate MDC Drawer
const drawerEl = document.querySelector('.mdc-drawer');
const drawer = new mdc.drawer.MDCDrawer.attachTo(drawerEl);

// Instantiate MDC Top App Bar
const topAppBar = MDCTopAppBar.attachTo(document.getElementById('.mdc-top-app-bar'));
const topAppBar = new mdc.topAppBar.MDCTopAppBar.attachTo(topAppBarEl);

topAppBar.setScrollTarget(document.querySelector('.main-content'));
/*topAppBar.setScrollTarget(document.getElementById('main-content'));*/

topAppBar.listen('MDCTopAppBar:nav', () => {
  drawer.open = !drawer.open;
});

/*


topAppBar.setScrollTarget(document.getElementById('main-content'));
topAppBar.listen('MDCTopAppBar:nav', () => {
  drawer.open = !drawer.open;
});
*/
        /*
                        // Top App Bar activation
                        const topAppBarElement = document.querySelector('.mdc-top-app-bar');
        const topAppBar = new MDCTopAppBar(topAppBarElement);
        */
        /*
                        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        
                const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
                topAppBar.listen('MDCTopAppBar:nav', () => {
                    drawer.open = !drawer.open;
                });
                */
    </script>



</body>

</html>