<!DOCTYPE html>
<html amp lang="en">
    <head>
        <!-- REQUIRED META --> 
  <meta charset="utf-8"> 
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- REQUIRED META END-->
        
        <title>Hadithmv - Accessible and Crowdsourced</title>
       
        <meta name="description" content="Accessible and Crowdsourced Islamic translations in Dhivehi">
        <meta name="keywords" content="hadithmv,hadith,hadeeth,nawawi, 40 hadith, saalhees,bas,language,open,crowdsourced,translate,translations,tharujama,tarujama,tharjama,tarjama,islam,islamic,dhivehi,maldives,maldivian,raajje,deen,dheen,deeny,dheeny,deeni,dheeni,deenee,dheenee">
        <meta name="author" content="Hadithmv">    
 
        <link rel="icon" hre<link rel="icon" href="https://cdn.rawgit.com/hadithmv/hadithmv.github.io/6dd29e6d/img/alt_logo.svg">
        
 
 
        
        <!-- === === === CSS === === === -->
        
      	<link href="css/homestyle.css" rel="stylesheet" type="text/css"/>
        
        <!-- FONT AWESOME CSS-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
       
        <!-- BOOTSTRAP 3 CSS-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" type="text/css" />
        
        <!-- === === === CSS END === === === -->
 
 
 
        
        </head>
        
    <body>

        
        <!-- === === CONTAINER === === -->
        <nav class="navbar navbar-default navbar-fixed-top " style="margin-top:0px" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class=center-block  style="max-width:100%; max-height:100%;" src="https://cdn.rawgit.com/hadithmv/hadithmv.github.io/6046363d/img/logo2.svg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a data-toggle="modal" href="#myModal">40 Nawawi<span class="sr-only">(current)</span></a></li>
        <li><a data-toggle="modal" href="#myModal2">Submissions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <!-- === === CONTAINER END === === -->
        
        
    <!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">
 
        <div class="card mb-3 border-secondary text-center">

            <img class=center-block height=80px style="margin-top:70px" src="https://cdn.rawgit.com/hadithmv/hadithmv.github.io/6046363d/img/logo2.svg">
            
               <div class="card-body">

                   <h4 class="card-title" style="font-weight: bold; ">السلام عليكم </h4><hr/>
                   <p class="card-text">Welcome to <strong>Hadithmv</strong> </p>

<!-- BUTTON -->

                   <button class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#myModal"><i class="fa fa-book"></i> 40 Nawawi </button>

<!-- BUTTON END-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"><i class="fa fa-folder-open" aria-hidden="true"></i> 40 Nawawi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<iframe src="https://hadithmv.github.io/main/ntable_web" width="100%" height="450" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary center-block" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

                  </div> <!-- CARD BODY END-->

                  <div class="card-footer text-muted">
Accessible and Crowdsourced</div> <!-- FOOTER END-->

              </div> <!-- CARD END-->
 
    </div> <!-- ROW END-->
</div><hr/>
<!-- === === CONTAINER END === === -->
 
                                               
                                               
<!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="card mb-3 border-secondary text-center">
            <div class="card-header">
<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> About
            </div> <!-- HEADER END-->

            <div class="card-body">
                
                <p class="card-text" style="text-align: justify; "> The internet has changed the muslim world.

Never before has Islamic knowledge been so open and accessible to all, regardless of tongue.

Yet, there is a lack of such web based resources in the Maldivian language <i>'Dhivehi'</i>.

Help change this situation for the better.

Let us work together to make local translations of Islamic texts available to all by the will of Allah. </p>
                
                <!-- BUTTON -->

                  <button class="btn btn-secondary btn-lg center-block" data-toggle="modal" data-target="#myModal2 "><i class="fa fa-pencil-square-o"></i> Submissions </button>

<!-- BUTTON END-->

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"><i class="fa fa-language" aria-hidden="true"></i> Submissions </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe79Mmq2yFKwSw0_Sn5JP8H_M5hrHHwWuJQ8ki-GmaOEEHCnA/viewform?embedded=true"" width="100%" height="450" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
                
            </div> <!-- CARD BODY END-->

            <div class="card-footer text-muted">
        Join in the reward
        </div> <!-- FOOTER END-->

        </div> <!-- CARD END -->
    </div> <!-- ROW END-->
</div><hr/>
<!-- === === CONTAINER END === === -->

                                               

<!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="card mb-3 border-secondary text-center">
            <div class="card-header">
            سورة يس
            </div> <!-- HEADER END-->

            <div class="card-body">
                <p class="card-text" style="font-weight: bold ;"> 
إِنَّا نَحْنُ نُحْيِي الْمَوْتَىٰ وَنَكْتُبُ مَا قَدَّمُوا وَآثَارَهُمْ ۚ وَكُلَّ شَيْءٍ أَحْصَيْنَاهُ فِي إِمَامٍ مُبِينٍ
                </p><hr/>
                <p class="card-text" style="font-style: italic; text-align:justify ">
Indeed, it is We who bring the dead to life, and We record what they have put forth and what they left behind, and all things We have recorded in a clear register.
                </p><hr/>
                <p class="card-text" style="text-align: justify; direction: rtl; font-family: MVWaheed, Faruma, Dhivehi; ">
ހަމަކަށަވަރުން، މަރުވެފައިވާ މީހުން އަލުން ދިރުއްވަނީ ތިމަންއިލާހެވެ. އަދި އެބައިމީހުން އިސްކޮށްފައިވާ ޢަމަލުތަކާއި އެބައިމީހުން ފަހަށް ދޫކޮށްފައި ދިޔަ އަސަރުތައް ތިމަންއިލާހު ލިޔުއްވަމެވެ. އަދި ކޮންމެ ކަމެއްމެ ބަޔާންވެގެންވާ ފޮތެއްގައި ތިމަންއިލާހު ހިމެނުއްވީމެވެ.
                </p>
            </div> <!-- CARD BODY END-->

            <div class="card-footer text-muted">
[36:12]
            </div> <!-- FOOTER END-->

        </div> <!-- CARD END -->
    </div> <!-- ROW END-->
</div><hr/>
<!-- === === CONTAINER END === === -->



<!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="card mb-3 border-secondary text-center">
            <div class="card-header">
            صحيح مسلم
            </div> <!-- HEADER END-->

            <div class="card-body">
                <p class="card-text" style="font-weight: bold ; text-align: justify; direction: rtl; "> 
عَنْ الْمُنْذِرِ بْنِ جَرِيرٍ عَنْ أَبِيهِ عَنْ رَسُولُ اللَّهِ ﷺ قَالَ: مَنْ سَنَّ فِي الْإِسْلَامِ سُنَّةً حَسَنَةً، فَلَهُ أَجْرُهَا وَأَجْرُ مَنْ عَمِلَ بِهَا بَعْدَهُ مِنْ غَيْرِ أَنْ يَنْقُصَ مِنْ أُجُورِهِمْ شَيْءٌ، وَمَنْ سَنَّ فِي الْإِسْلَامِ سُنَّةً سَيِّئَةً كَانَ عَلَيْهِ وِزْرُهَا وَوِزْرُ مَنْ عَمِلَ بِهَا مِنْ بَعْدِهِ مِنْ غَيْرِ أَنْ يَنْقُصَ مِنْ أَوْزَارِهِمْ شَيْءٌ.
                </p><hr/>
                <p class="card-text" style="font-style: italic; text-align:justify ">
Mundhir bin Jarir narrated from his father: Allah's Messenger ﷺ said: Whoever starts (acting upon or revives) a good practice in Islam will have its reward and the reward of whoever acts upon it after him without reducing anything from their rewards, and whoever starts (acting upon) an evil practice (or bid'ah) in Islam will have its sin and the sin of those who act upon it after him without reducing anything from their sins.
                </p><hr/>
                <p class="card-text" style="text-align: justify; direction: rtl; font-family: MVWaheed, Faruma, Dhivehi; ">
މުންޛިރު ބިން ޖަރީރު އެކަލޭގެފާނުގެ ބައްޕާފުޅު ފަރާތުން ރިވާކުރެއްވިއެވެ: ﷲ ގެ ރަސޫލާ ﷺ ޙަދީޘް ކުރެއްވިއެވެ: އިސްލާމް ދީނުގައި ވާ ހެޔޮ ކަމެއް (ކުރަން ނުވަތަ ދިރުއްވަން) ފައްޓައިފި މީހަކު، ފަހެ، އެކަމުގެ ސަވާބާއި، އޭނާގެ ފަހަތުން އެކަން ކުރިހައި ބަޔެއްގެ ސަވާބު އޭނާއަށް ލިބޭހުއްޓެވެ. އެއީ އެބައިމީހުންގެ ސަވާބުން އެބައިމީހުންނަށް އެއްވެސް އުނިވުމަކާ ނުލައެވެ. އަދި އިސްލާމް ދީނުގައި ނުބައި ކަމެއް (ނުވަތަ ބިދުޢައެއް ކުރަން) ފައްޓައިފި މީހަކު، އެކަމުގެ ފާފައާއި، އޭނާގެ ފަހަތުން އެކަން ކުރިހައި ބަޔެއްގެ ފާފަ އޭނާއަށް ލިބޭހުއްޓެވެ. އެއީ އެބައިމީހުންގެ ފާފައިން އެބައިމީހުންނަށް އެއްވެސް އުނިވުމަކާ ނުލައެވެ.
                </p>
            </div> <!-- CARD BODY END-->

            <div class="card-footer text-muted">
[1017]
            </div> <!-- FOOTER END-->

        </div> <!-- CARD END -->
    </div> <!-- ROW END-->
</div><hr/>
<!-- === === CONTAINER END === === -->



<!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="card mb-3 border-secondary text-center">
            <div class="card-header">
<i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Progress </div> <!-- HEADER END-->

        <div class="card-body"><span style=" overflow: hidden; ">
            <ul class="list-group">
  <li class="list-group-item">40 Nawawi <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 60% ; height: 35px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="42"></div>
        </div></li>
  <li class="list-group-item">Bukhari <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 0% ; height: 35px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7563"></div>
        </div></li>
  <li class="list-group-item">Muslim <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 0% ; height: 35px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="3033"></div>
        </div></li>
</ul></span>
        </div> <!-- CARD BODY END-->
        

        <div class="card-footer text-muted">
        More to come إن شاء الله
        </div> <!-- FOOTER END-->

        </div> <!-- CARD CLASS END-->
 
    </div> <!-- ROW END-->
</div><hr/>
<!-- === === CONTAINER END === === -->



<!-- === === CONTAINER === === -->
<div class="container-fluid">
    <div class="row-fluid">

        <div class="card mb-3 border-secondary text-center">
            <div class="card-header">
<i class="fa fa-film fa-fw" aria-hidden="true"></i> Media
</div> <!-- HEADER END-->

        <div class="card-body"><span style=" overflow: hidden; ">
            <iframe style="display: block; width: 100%; height: 100%; " src="https://www.youtube.com/embed/STmzDuVroQI" allowfullscreen frameborder="0"></iframe></span>
        </div> <!-- CARD BODY END--><hr/>

        <div class="card-footer text-muted">
        2017 hadithmv.github.io
        </div> <!-- FOOTER END-->

        </div> <!-- CARD CLASS END-->
 
    </div> <!-- ROW END-->
</div>
<!-- === === CONTAINER END === === -->
                                           
                                           
                                           
    
    <!-- === === === JS === === === -->
        
      	<link href="css/home_style.css" rel="stylesheet" type="text/css"/>
        
        <!-- JQUERY JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script />
       
        <!-- BOOTSTRAP 3 JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <!-- === === === JS END === === === -->
        
        
        
       
    </body>
    
</html>
