@font-face {
    font-family: Faruma;
    src: url(https://hadithmv.github.io/fonts/dv/Faruma.otf);
} /* 1 */

@font-face {
    font-family: MVWaheed;
    src: url(https://dhivehi.mv/fonts/data/df/MVWaheed.otf);
} /* 2 */

@font-face {
    font-family: MVAWaheed;
    src: url(https://cdn.rawgit.com/maaldheefee/40-nawawi/374ce074/fonts/mvawaheed-webfont.ttf);
} /* 2-1 */

@font-face {
    font-family: TharujamaanuLight;
    src: url(https://cdn.rawgit.com/maaldheefee/40-nawawi/374ce074/fonts/Tharujamaanu-Light.ttf);
} /* 2-2 */

@font-face {
    font-family: TharujamaanuBold;
    src: url(https://cdn.rawgit.com/maaldheefee/40-nawawi/374ce074/fonts/Tharujamaanu-Bold.ttf);
} /* 2-3 */

@font-face {
    font-family: Dhivehi;
    src: url(https://dhivehi.mv/fonts/data/df/Dhivehi.ttf);
} /* 3 */

@font-face {
    font-family: MVTypewriter;
    src: url(https://dhivehi.mv/fonts/data/df/mvtyper.ttf);
} /* 4 */

@font-face {
    font-family: Iyyu;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Iyyu_Normal.otf);
} /* 5 */

@font-face {
    font-family: Kathivalhi;
    src: url(https://dhivehi.mv/fonts/data/df/DAM_Kathivalhi.otf);
} /* 6 */

@font-face {
    font-family: AvasAkuru;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_GroupX_Avas_Akuru.otf);
} /* 7 */

@font-face {
    font-family: Sehga;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Sehga_Old.otf);
} /* 8 */

@font-face {
    font-family: ElaafLight;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Elaaf_Lite.otf);
} /* 9 */

@font-face {
    font-family: Elaaf;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Elaaf_Normal.otf);
} /* 10 */

@font-face {
    font-family: Madheeh;
    src: url(https://dhivehi.mv/fonts/data/df/DAM_Madheeh.otf);
} /* 11 */

@font-face {
    font-family: Galan;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_Galan_Normal.otf);
} /* 12 */

@font-face {
    font-family: MAGBold;
    src: url(https://dhivehi.mv/fonts/data/df/Mv_MAG_Round_Bold.otf);
} /* 13 */

@font-face {
    font-family: MidhiliBold;
    src: url(https://dhivehi.mv/fonts/data/df/midhilibold.ttf);
} /* 14 */


/* === /FONT FACES === */


df1 {
   font-family: Faruma;
}

df2 {
   font-family: MVWaheed;
}

df2-1 {
   font-family: MVAWaheed;
}

df2-2 {
   font-family: TharujamaanuLight;
}

df2-3 {
   font-family: TharujamaanuBold;
}

df3 {
   font-family: Dhivehi;
}

df4 {
   font-family: MVTypewriter;
}

df5 {
   font-family: Iyyu;
}

df6 {
   font-family: Kathivalhi;
}
df7 {
   font-family: AvasAkuru;
}

df8 {
   font-family: Sehga;
}

df9 {
   font-family: ElaafLight;
}

df10 {
   font-family: Elaaf;
}

df11 {
   font-family: Madheeh;
}

df12 {
   font-family: Galan;
}

df13 {
   font-family: MAGBold;
}
df14 {
   font-family: MidhiliBold;
}


/* ==== /FONT NAMES === */


a:after{
content: "ހަމަކަށަވަރުން، މަރުވެފައިވާ މީހުން އަލުން ދިރުއްވަނީ ތިމަންއިލާހެވެ. އަދި އެބައިމީހުން އިސްކޮށްފައިވާ ޢަމަލުތަކާއި އެބައިމީހުން ފަހަށް ދޫކޮށްފައި ދިޔަ އަސަރުތައް ތިމަންއިލާހު ލިޔުއްވަމެވެ. އަދި ކޮންމެ ކަމެއްމެ ބަޔާންވެގެންވާ ފޮތެއްގައި ތިމަންއިލާހު ހިމެނުއްވީމެވެ.";
}


body {
   direction: rtl;
   text-align: justify;
   unicode-bidi: bidi-override;
}

.b { font-weight: bold }
