@import url('https://fonts.googleapis.com/css?family=Roboto')

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@import url('https://fonts.googleapis.com/css?family=Cairo');

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Amiri');

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* === /FONT FACES === */


df1 {
   font-family: 'Roboto';
}

df2 {
   font-family: 'Noto Sans';
}

df3 {
   font-family: 'Noto Serif';
}

df4 {
   font-family: 'Cairo';
}

df5 {
   font-family: 'Encode Sans Condensed';
}

df6 {
   font-family: 'Lato';
}

df7 {
   font-family: 'Amiri';
}

df8 {
   font-family: 'Slabo';
}

df9 {
   font-family: 'Roboto Condensed';
}

df10 {
   font-family: 'Oswald';
}

df11 {
   font-family: 'Reem Kufi';
}

df12 {
   font-family: 'Lalezar';
}

df13 {
   font-family: 'Scheherazade';
}

df14 {
   font-family: 'Baloo Bhaijaan';
}

df15 {
   font-family: 'Lemonada';
}

df16 {
   font-family: 'Mada';
}

df17 {
   font-family: 'El Messiri';
}

df18 {
   font-family: 'Harmattan';
}

df19 {
   font-family: 'Aref Ruqaa';
}

df20 {
   font-family: 'Mirza';
}

df21 {
   font-family: 'Rakkas';
}

df22 {
   font-family: 'Katibeh';
}

df23 {
   font-family: 'Jomhuria';
}

/* ==== /FONT NAMES === */

a:after{
content: "Mundhir bin Jarir narrated from his father: Allah's Messenger ﷺ said: Whoever starts (acting upon or revives) a good practice in Islam will have its reward and the reward of whoever acts upon it after him without reducing anything from their rewards, and whoever starts (acting upon) an evil practice (or bid'ah) in Islam will have its sin and the sin of those who act upon it after him without reducing anything from their sins.";
}

body {
   text-align: justify;
}

.b { font-weight: bold }
